.app-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 24px;
	height: 45px;
	border-left: 3px solid #55BEDA;
	margin-bottom: 1px;

	.flex-box {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.vertical-bar {
		width: 2px;
		height: 18px;
		margin-right: 10px;
		background-color: #20a1e0;
	}

	.title{
		font-size: 14px;
		span,a{
			font-size: 14px;
		}
	}

	:global {
		.ant-form {
			position: absolute;
			right: 16px;
		}
	}
}
